:root {
  primary-1: #ebebeb;
  primary-2: #e3dede;
  primary-3: #a2a2a2;
  accent-1: #0676a2;
  accent-2: #0f9ad2;
  accent-3: #a8dff5;
  background-1: #212121;
  background-2: #121212;
  background-3: #050505;
  highlight-color: rgba(15, 154, 210, 0.8);
  selection-color: rgba(15, 154, 210, 0.2);
}

[data-theme=dark] {
  primary-1: #050505;
  primary-2: #121212;
  primary-3: #212121;
  accent-1: #a8dff5;
  accent-2: #0f9ad2;
  accent-3: #0676a2;
  background-1: #a2a2a2;
  background-2: #e3dede;
  background-3: #ebebeb;
  highlight-color: rgba(15, 154, 210, 0.8);
  selection-color: rgba(15, 154, 210, 0.2);
}
