$theme-light: (
	primary-1: #14131E,
	primary-2: #272639,
	primary-3: #41405C,
	accent-1: #3B6678,
	accent-2: #7AD3E9,
	accent-3: #ACE3F0,
	background-1: #E3E3E3,
	background-2: #F3F3F3,
	background-3: #FFFFFF,
	highlight-color: rgba(#7AD3E9, 0.8),
	selection-color: rgba(#7AD3E9, 0.2),
);

$theme-dark: (
	primary-1: #FFFFFF,
	primary-2: #F3F3F3,
	primary-3: #E3E3E3,
	accent-1: #ACE3F0,
	accent-2: #7AD3E9,
	accent-3: #3B6678,
	background-1: #41405C,
	background-2: #272639,
	background-3: #14131E,
	highlight-color: rgba(#7AD3E9, 0.8),
	selection-color: rgba(#7AD3E9, 0.2),
);

@mixin spread-map($map: ()) {
	@each $key, $value in $map {
		#{$key}: $value;
	}
}

:root {
	@include spread-map($theme-light);
}

[data-theme='dark'] {
	@include spread-map($theme-dark);
}